table, th, td {
  border:  solid black 1px;
 
}
 html{
  font-size: 20px;
  background-color:gray; 
  }

body {
    min-height: auto;
    max-width:1000px;
    background-color: papayawhip; 
    margin: 0 auto;
}
main{
  
}

 
  #image1{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
  header #first-head{
    
    background-color:  lightsalmon;
    border-radius: 80px;
    text-align: center;
    margin-bottom: 20px;
  }
  {
    
  }
   h1{
    text-align: center;
    font-size: 80px;
    color:white; 
    background-color: lightsalmon;  
    border-radius: 35px;
    padding:10px;
  }
  #products #products-1 h2,#products #products-2 h2{
    text-align: center;
    font-size: 30px;
    color:white; 
    background-color:lightseagreen;  
    border-radius: 35px;
    padding:10px;
    width: 150px;
  }
  #products #products-1 img{
    width: 300px;
  }
  
  body{
    font-family: 'Kiwi Maru', serif;
  }
  #cover{
    background-size: cover;
    width: 960px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    
  }
  /* #header1{
    text-align: center;
  }
  img{
    border-radius: 50%;
    text-align: center;
    margin-left: 300px;
    
  }
 */
  footer{
    margin-top: ;
    clear: both;
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding:20px;
  }
  ul{
      font-size: 20px;
  } 
  
 #branchForm{
   padding-left: 60px;
   font-size: 20px;
 }
 #location{
   font-size: 15px;
  
 }
  
#products img{
  border-radius: 50%;
  width: 300; 
}
#products{
  width: 1000px;
  text-align: center;
  
}
#products h2{
  color:lightseagreen;
  font-size: 50px;
  background-color: white;
  margin:10px;
  border: 10px;
}
