table, th, td {
  border:  solid black 1px;
 
}
 html{
  
  font-size: 20px;
     
    background-color: lightseagreen;
  }
 
  #image1{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
  header{
    
    background-color:  lightsalmon;
  }
   h1{
    text-align: center;
    font-size: 80px;
    color:white; 
    background-color: lightsalmon;  
    border-radius: 35px;
    padding:10px;
  }
  h2{
    text-align: center;
    font-size: 60px;
    color:white; 
    background-color:lightseagreen;  
    border-radius: 35px;
    padding:10px;
  }
  body{
    font-family: 'Kiwi Maru', serif;
  }
  #cover{
    background-size: cover;
    width: 960px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    
  }
  /* #header1{
    text-align: center;
  }
  img{
    border-radius: 50%;
    text-align: center;
    margin-left: 300px;
    
  }
 */
  footer{
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding:20px;
  }
  ul{
      font-size: 20px;
  } 
  
 #branchForm{
   padding-left: 60px;
   font-size: 20px;
 }
 #location{
   font-size: 30px;
  
 }
  
  